html {
  height: 100%;
}

body {
  font-family: open sans, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  /* margin: 0; */
  /* padding: 0; */
  color: #364147;
  background-color: #2b2f32;
}

.home {
  padding: 50px;
}

#home-content {
  max-width: 40vw;
}

.slider {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.left-arrow {
  position: absolute;
  top: 50%;
  left: 5px;
  font-size: 3rem;
  color: #000;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.right-arrow {
  position: absolute;
  top: 50%;
  right: 5px;
  font-size: 3rem;
  color: #000;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.slide {
  opacity: 0;
  transition-duration: 1s ease;
}

.slide.active {
  opacity: 1;
  transition-duration: 1s;
  transform: scale(1.08);
}

.image-mobile {
  width: 20vw;
  height: 431px;
  border-radius: 38px;
}

.image-web {
  width: 45vw;
}

.react-player {
  width: 45vw;
}

.detail-other ul {
  list-style: none;
}

.detail-other ul li {
  color: white;
}

.detail-other ul li::before {
  content: "\2022";
  color: white;
  font-weight: bold;
  font-size: 20px;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

@media screen and (max-width: 992px) {
  .image-mobile {
    width: 40vw;
    height: 431px;
    border-radius: 38px;
  }

  .image-web {
    width: 90vw;
  }

  .react-player {
    width: 90vw;
  }
}

.home-img {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .home-img {
    display: none;
  }
  #repo-btn {
    margin-bottom: 20px;
  }
}
